body {
  background-color: rgb(220, 220, 220);
  margin-left: 30px;
  font-family: Tahoma, sans serif;
}
h1 {
  color: rgb(0, 0, 80);
  text-shadow: black;
  font-size: 26pt;
  font-family: Tahoma, sans serif;
}
h2 {
  color: rgb(0, 0, 110);
  text-shadow: black;
  font-size: 22pt;
  font-family: Tahoma, sans serif;
}
h3 {
  color: rgb(0, 0, 140);
  text-shadow: black;
  font-size: 18pt;
  font-family: Tahoma, sans serif;
}
p {
  color: rgb(0, 0, 0);
  font-size: 12pt;
  font-family: Times New Roman, times, serif;
}
p strong {
  color: rgb(150, 0, 0);
  font-weight: bold;
}
