/* Never ever have more than one element definiton per line - because Java can NOT handle this!*/
h1 {color:#0000FF;text-align:center;font-family:geneva,arial,helvetica,sans-serif;}
h2 {font-weight:bold;color:#006699;font-family:geneva,arial,helvetica,sans-serif;}
h3 {font-weight:bold; color:#800000;font-family:geneva,arial,helvetica,sans-serif;}
h4 {font-weight:bold; color:#800000;font-family:geneva,arial,helvetica,sans-serif;}
h5 {font-weight:bold; color:#800000;font-family:geneva,arial,helvetica,sans-serif;}
p {font-family:geneva,arial,helvetica,sans-serif;}
b {font-weight:bold;color:#800000;}
address {font-family:geneva,arial,helvetica,sans-serif;font-style:normal;}
ol {font-family:geneva,arial,helvetica,sans-serif;}
ul {font-family:geneva,arial,helvetica,sans-serif;}
tr {font-family:geneva,arial,helvetica,sans-serif;}
td {vertical-align:top;font-family:geneva,arial,helvetica,sans-serif;}
th {color:white;background:#006699;font-weight:bold;text-align:left;font-family:geneva,arial,helvetica,sans-serif;}
body {background-color:white;margin:10px;font-family:geneva,arial,helvetica,sans-serif;}

blockquote {font-family:geneva,arial,helvetica,sans-serif;}

hr {font-weight:bold;color:#006699;}

img {border:none;}

a:link {color:#0000C0;font-weight:bold;text-decoration:none;}
a:visited {color:#0000C0;font-weight:bold;text-decoration:none;}
a:active {color:#000000;font-weight:bold;text-decoration:none;}
a:hover {color:#FFFFFF;font-weight:bold;background-color:#0000C0;text-decoration:none;}


.nextlink {padding-left:20px;}
.midlink {padding-left:20px;padding-right:20px;}
.prevlink {padding-right:20px;}

.topdown_navi {text-align:center;}

td.name {border-bottom-style:solid;border-bottom-width:1pt;border-color:#006699;background:#eeeeff;}
td.status {border-bottom-style:solid;border-bottom-width:1pt;border-color:#006699;}

span.nowrap { white-space:nowrap;}

.bitem {font-weight:bold;font-size:16pt;color:#800000;}
.contentsbox {font-size:14pt;padding-top:7px;padding-bottom:7px;}

.navipar {text-align:center;}

code.jconf {
	font-size:12pt;
	font-style:normal;
}

em.jconf {

}