// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "dllversion.h"
#include <winres.h>
/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

#define S_VERSION(arg) STR(arg)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#define L_VERSION 0,VER_MAJOR,VER_MINOR,0

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_JAP                 ICON                    "jap.ico"
IDI_JAP_BLINK           ICON                    "jap_blink.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION L_VERSION
 PRODUCTVERSION L_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "JAP/JonDo GUI Support DLL"
            VALUE "FileVersion", S_VERSION(L_VERSION)
            VALUE "InternalName", "JAPDll"
            VALUE "LegalCopyright", "The JAP-Team, JonDos GmbH"
            VALUE "OriginalFilename", "JAPDll.dll"
            VALUE "ProductName", "JAP/JonDo GUI Support DLL"
            VALUE "ProductVersion", S_VERSION(L_VERSION)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END


